* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Righteous&display=swap');

 /* will be used for logo text: font-family: 'Righteous', cursive; */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', sans-serif, 'Righteous', cursive, 'Segoe UI', 'Roboto',;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: "#222121";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'Righteous', cursive, 'Quicksand', sans-serif;
  }

